/.idea/
/target/*
.netbeans*

# NetBeans specific files and directories
nbproject/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
.nb-gradle-properties

# NetBeans automatic build files
.netbeans_automatic_build

# NetBeans cache and temp files
.netbeans/
*/nb-configuration.xml

# Custom JRE (može se regenerisati)
custom-jre/

# SQLite baze (lokalne, ne idu na repo)
*.db
*.sqlite

# Izvršni fajlovi i skripte
*.exe
*.bat
*.sh

# Maven specifični fajlovi
dependency-reduced-pom.xml
